In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [2]:
# Upload the data
from google.colab import files
uploaded = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [3]:
applicant_data_df = pd.read_csv("applicants_data.csv")

applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df =  applicant_data_df.drop(columns = ["EIN", "NAME"])

In [6]:
# review the dataframe
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [8]:
# Create a OneHotEncoder instance

enc = OneHotEncoder(sparse = False)

In [9]:
list(applicant_data_df.dtypes[applicant_data_df.dtypes =="object"].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [11]:
categorical_variables = ['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [12]:
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [14]:
# Create DataFrame with encoded variables

encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [17]:
# combining two dataframe into one

encoded_df = pd.concat(
    [
        numerical_variables_df,
     encoded_df
    ],
    axis = 1
)
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
y = encoded_df["IS_SUCCESSFUL"]

y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [21]:

X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
X.shape

(34299, 116)

In [22]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [23]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [36]:

number_input_features = len(X_train.iloc[0])


hidden_nodes_layer1 =  (number_input_features + 1) // 2 


hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2


nn = Sequential()


nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))


nn.add(Dense(units=1, activation="sigmoid"))

In [37]:
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 58)                6786

 dense_7 (Dense)             (None, 29)                1711

 dense_8 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [38]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [39]:

fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5803 - accuracy: 0.7165
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7291
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7323
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7325
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7326
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7338
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7352
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7352
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7345
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7367
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7360
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7375
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7359
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7366
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7375
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7376
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7389
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7385
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7388
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7393
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7387
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7390
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7389
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7395
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7390
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7386
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7403
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7392
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7397
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7397
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7399
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7401
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7405
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7407
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7403
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7409
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7410
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7399
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7404
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7414
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7412
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7409
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7403

In [40]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5552 - accuracy: 0.7315 - 361ms/epoch - 1ms/step
Loss: 0.5551532506942749, Accuracy: 0.7315452098846436

In [41]:
# Set the model's file path
file_path = "applicants_data.h5"

# Export your model to an HDF5 file
nn.save(file_path)

In [42]:
# Set the model's file path
file_path = "applicants_data.h5"

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

## Optimize the neural network model

FIRST MODEL:

In [43]:
# bulding the first model 

# Import the `Dropout` layer
from keras.layers import Dropout
# Import regularization functions
from keras.regularizers import l1, l2

In [44]:
number_of_predictors = len(X.columns)
len(X.columns)

116

In [46]:
# Build the Model
nn_A1= Sequential()
# Add a dense layer
nn_A1.add(Dense(10, input_dim=number_of_predictors, activation='relu'))
# Now add a dropout layer
nn_A1.add(Dropout(.2,input_shape=(10,)))
# Add another dense layer
nn_A1.add(Dense(5, activation='relu', kernel_regularizer=l2(0.01), bias_regularizer=l2(0.01)))

In [47]:
nn_A1.add(Dense(1, activation= "softmax"))

In [48]:
# Compile the model
nn_A1.compile(loss="categorical_crossentropy", 
              optimizer= "adam", 
              metrics=['categorical_accuracy'])

In [49]:
# Fit the model
number_of_epochs = 50
nn_A1.fit(X_train,y_train, 
                    epochs=number_of_epochs,
                    batch_size=10,
                      validation_split=0.2,
                    shuffle=True)

Epoch 1/50
2058/2058 [==============================] - 5s 2ms/step - loss: 0.0317 - categorical_accuracy: 1.0000 - val_loss: 0.0354 - val_categorical_accuracy: 1.0000
Epoch 2/50
2058/2058 [==============================] - 4s 2ms/step - loss: 0.0457 - categorical_accuracy: 1.0000 - val_loss: 0.0624 - val_categorical_accuracy: 1.0000
Epoch 3/50
2058/2058 [==============================] - 4s 2ms/step - loss: 0.1695 - categorical_accuracy: 1.0000 - val_loss: 0.2782 - val_categorical_accuracy: 1.0000
Epoch 4/50
2058/2058 [==============================] - 4s 2ms/step - loss: 0.3638 - categorical_accuracy: 1.0000 - val_loss: 0.4677 - val_categorical_accuracy: 1.0000
Epoch 5/50
2058/2058 [==============================] - 4s 2ms/step - loss: 0.6035 - categorical_accuracy: 1.0000 - val_loss: 0.7569 - val_categorical_accuracy: 1.0000
Epoch 6/50
2058/2058 [==============================] - 4s 2ms/step - loss: 0.9369 - categorical_accuracy: 1.0000 - val_loss: 1.1302 - val_categorical_accuracy: 1.0000
Epoch 7/50
2058/2058 [==============================] - 4s 2ms/step - loss: 1.3427 - categorical_accuracy: 1.0000 - val_loss: 1.5774 - val_categorical_accuracy: 1.0000
Epoch 8/50
2058/2058 [==============================] - 4s 2ms/step - loss: 1.8326 - categorical_accuracy: 1.0000 - val_loss: 2.0985 - val_categorical_accuracy: 1.0000
Epoch 9/50
2058/2058 [==============================] - 4s 2ms/step - loss: 2.3899 - categorical_accuracy: 1.0000 - val_loss: 2.6988 - val_categorical_accuracy: 1.0000
Epoch 10/50
2058/2058 [==============================] - 4s 2ms/step - loss: 3.0225 - categorical_accuracy: 1.0000 - val_loss: 3.3660 - val_categorical_accuracy: 1.0000
Epoch 11/50
2058/2058 [==============================] - 4s 2ms/step - loss: 3.7268 - categorical_accuracy: 1.0000 - val_loss: 4.1074 - val_categorical_accuracy: 1.0000
Epoch 12/50
2058/2058 [==============================] - 4s 2ms/step - loss: 4.5003 - categorical_accuracy: 1.0000 - val_loss: 4.9117 - val_categorical_accuracy: 1.0000
Epoch 13/50
2058/2058 [==============================] - 4s 2ms/step - loss: 5.3365 - categorical_accuracy: 1.0000 - val_loss: 5.7734 - val_categorical_accuracy: 1.0000
Epoch 14/50
2058/2058 [==============================] - 4s 2ms/step - loss: 6.2331 - categorical_accuracy: 1.0000 - val_loss: 6.7037 - val_categorical_accuracy: 1.0000
Epoch 15/50
2058/2058 [==============================] - 4s 2ms/step - loss: 7.1936 - categorical_accuracy: 1.0000 - val_loss: 7.7015 - val_categorical_accuracy: 1.0000
Epoch 16/50
2058/2058 [==============================] - 4s 2ms/step - loss: 8.2310 - categorical_accuracy: 1.0000 - val_loss: 8.7582 - val_categorical_accuracy: 1.0000
Epoch 17/50
2058/2058 [==============================] - 4s 2ms/step - loss: 9.3163 - categorical_accuracy: 1.0000 - val_loss: 9.8935 - val_categorical_accuracy: 1.0000
Epoch 18/50
2058/2058 [==============================] - 4s 2ms/step - loss: 10.4827 - categorical_accuracy: 1.0000 - val_loss: 11.1094 - val_categorical_accuracy: 1.0000
Epoch 19/50
2058/2058 [==============================] - 4s 2ms/step - loss: 11.7866 - categorical_accuracy: 1.0000 - val_loss: 12.5035 - val_categorical_accuracy: 1.0000
Epoch 20/50
2058/2058 [==============================] - 8s 4ms/step - loss: 13.2605 - categorical_accuracy: 1.0000 - val_loss: 14.0304 - val_categorical_accuracy: 1.0000
Epoch 21/50
2058/2058 [==============================] - 9s 4ms/step - loss: 14.8509 - categorical_accuracy: 1.0000 - val_loss: 15.6968 - val_categorical_accuracy: 1.0000
Epoch 22/50
2058/2058 [==============================] - 6s 3ms/step - loss: 16.5869 - categorical_accuracy: 1.0000 - val_loss: 17.4995 - val_categorical_accuracy: 1.0000
Epoch 23/50
2058/2058 [==============================] - 5s 3ms/step - loss: 18.4574 - categorical_accuracy: 1.0000 - val_loss: 19.4467 - val_categorical_accuracy: 1.0000
Epoch 24/50
2058/2058 [==============================] - 4s 2ms/step - loss: 20.4685 - categorical_accuracy: 1.0000 - val_loss: 21.5225 - val_categorical_accuracy: 1.0000
Epoch 25/50
2058/2058 [==============================] - 5s 2ms/step - loss: 22.6304 - categorical_accuracy: 1.0000 - val_loss: 23.7611 - val_categorical_accuracy: 1.0000
Epoch 26/50
2058/2058 [==============================] - 4s 2ms/step - loss: 24.9202 - categorical_accuracy: 1.0000 - val_loss: 26.1041 - val_categorical_accuracy: 1.0000
Epoch 27/50
2058/2058 [==============================] - 4s 2ms/step - loss: 27.3135 - categorical_accuracy: 1.0000 - val_loss: 28.5542 - val_categorical_accuracy: 1.0000
Epoch 28/50
2058/2058 [==============================] - 4s 2ms/step - loss: 29.8435 - categorical_accuracy: 1.0000 - val_loss: 31.1608 - val_categorical_accuracy: 1.0000
Epoch 29/50
2058/2058 [==============================] - 4s 2ms/step - loss: 32.5553 - categorical_accuracy: 1.0000 - val_loss: 33.9380 - val_categorical_accuracy: 1.0000
Epoch 30/50
2058/2058 [==============================] - 4s 2ms/step - loss: 35.3713 - categorical_accuracy: 1.0000 - val_loss: 36.8109 - val_categorical_accuracy: 1.0000
Epoch 31/50
2058/2058 [==============================] - 4s 2ms/step - loss: 38.2915 - categorical_accuracy: 1.0000 - val_loss: 39.7985 - val_categorical_accuracy: 1.0000
Epoch 32/50
2058/2058 [==============================] - 4s 2ms/step - loss: 41.3451 - categorical_accuracy: 1.0000 - val_loss: 42.8875 - val_categorical_accuracy: 1.0000
Epoch 33/50
2058/2058 [==============================] - 4s 2ms/step - loss: 44.5217 - categorical_accuracy: 1.0000 - val_loss: 46.1293 - val_categorical_accuracy: 1.0000
Epoch 34/50
2058/2058 [==============================] - 4s 2ms/step - loss: 47.8222 - categorical_accuracy: 1.0000 - val_loss: 49.5250 - val_categorical_accuracy: 1.0000
Epoch 35/50
2058/2058 [==============================] - 4s 2ms/step - loss: 51.2330 - categorical_accuracy: 1.0000 - val_loss: 52.9640 - val_categorical_accuracy: 1.0000
Epoch 36/50
2058/2058 [==============================] - 4s 2ms/step - loss: 54.7767 - categorical_accuracy: 1.0000 - val_loss: 56.5802 - val_categorical_accuracy: 1.0000
Epoch 37/50
2058/2058 [==============================] - 4s 2ms/step - loss: 58.4233 - categorical_accuracy: 1.0000 - val_loss: 60.3136 - val_categorical_accuracy: 1.0000
Epoch 38/50
2058/2058 [==============================] - 4s 2ms/step - loss: 62.2232 - categorical_accuracy: 1.0000 - val_loss: 64.1562 - val_categorical_accuracy: 1.0000
Epoch 39/50
2058/2058 [==============================] - 4s 2ms/step - loss: 66.1385 - categorical_accuracy: 1.0000 - val_loss: 68.1312 - val_categorical_accuracy: 1.0000
Epoch 40/50
2058/2058 [==============================] - 4s 2ms/step - loss: 70.1758 - categorical_accuracy: 1.0000 - val_loss: 72.2125 - val_categorical_accuracy: 1.0000
Epoch 41/50
2058/2058 [==============================] - 4s 2ms/step - loss: 74.3200 - categorical_accuracy: 1.0000 - val_loss: 76.4633 - val_categorical_accuracy: 1.0000
Epoch 42/50
2058/2058 [==============================] - 4s 2ms/step - loss: 78.6225 - categorical_accuracy: 1.0000 - val_loss: 80.8187 - val_categorical_accuracy: 1.0000
Epoch 43/50
2058/2058 [==============================] - 4s 2ms/step - loss: 83.0474 - categorical_accuracy: 1.0000 - val_loss: 85.3063 - val_categorical_accuracy: 1.0000
Epoch 44/50
2058/2058 [==============================] - 4s 2ms/step - loss: 87.5839 - categorical_accuracy: 1.0000 - val_loss: 89.8882 - val_categorical_accuracy: 1.0000
Epoch 45/50
2058/2058 [==============================] - 4s 2ms/step - loss: 92.3049 - categorical_accuracy: 1.0000 - val_loss: 94.7095 - val_categorical_accuracy: 1.0000
Epoch 46/50
2058/2058 [==============================] - 4s 2ms/step - loss: 97.1961 - categorical_accuracy: 1.0000 - val_loss: 99.7311 - val_categorical_accuracy: 1.0000
Epoch 47/50
2058/2058 [==============================] - 5s 2ms/step - loss: 102.3704 - categorical_accuracy: 1.0000 - val_loss: 104.9813 - val_categorical_accuracy: 1.0000
Epoch 48/50
2058/2058 [==============================] - 4s 2ms/step - loss: 107.6837 - categorical_accuracy: 1.0000 - val_loss: 110.4410 - val_categorical_accuracy: 1.0000
Epoch 49/50
2058/2058 [==============================] - 4s 2ms/step - loss: 113.2135 - categorical_accuracy: 1.0000 - val_loss: 116.0381 - val_categorical_accuracy: 1.0000
Epoch 50/50
2058/2058 [==============================] - 4s 2ms/step - loss: 118.9291 - categorical_accuracy: 1.0000 - val_loss: 121.8417 - val_categorical_accuracy: 1.0000

In [50]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_A1_loss, model_A1_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 121.8418 - categorical_accuracy: 1.0000 - 533ms/epoch - 2ms/step
Loss: 121.84180450439453, Accuracy: 1.0

SECOND MODEL:

In [51]:

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, random_state=78)

In [52]:

from sklearn.preprocessing import StandardScaler


scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)

In [53]:
# Model set-up
number_input_features = 10
hidden_nodes_layer1 = 15
hidden_nodes_layer2 = 5

In [55]:
# Define the LSTM RNN model
nn_A2 = Sequential()

# Layer 1
nn_A2.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Layer 2
nn_A2.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_A2.add(Dense(1, activation="sigmoid"))

In [56]:
# Compile the model
nn_A2.compile(
    loss="binary_crossentropy",
    optimizer="adam",
    metrics=[
        "accuracy",
        tf.keras.metrics.TruePositives(name="tp"),
        tf.keras.metrics.TrueNegatives(name="tn"),
        tf.keras.metrics.FalsePositives(name="fp"),
        tf.keras.metrics.FalseNegatives(name="fn"),
        tf.keras.metrics.Precision(name="precision"),
        tf.keras.metrics.Recall(name="recall"),
        tf.keras.metrics.AUC(name="auc"),
    ],
)

In [62]:

batch_size = 1000
epochs = 50
training_history = nn_A2.fit(
    X_train,
    y_train,
    validation_data=(X_val, y_val),
    epochs=epochs,
    batch_size=batch_size,
    verbose=1
)

Epoch 1/50

ValueError: ignored